.navbar {
    z-index: 1000;
    background-color: darkorange;
    width: 100vw;
    //height: 65px;
}

.navbar-icon {
    font-size: 50px;
    color: white;

    border-radius: 5px;

    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    margin: 0;

    height: 1.2em;

    transition: background-color 0.5s, transform 0.5s;
}
.navbar-icon:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar-menu {
    position: fixed;
    left: 0;
    top: 0;

    height: 100vh;
    width: min(100vw, 300px);
    background-color: rgb(30,30,30);

    box-shadow: 0 5px 5px 0 black;

    z-index: 2000;

    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    transform: translateX(-100%);
    transition: transform 0.5s;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.navbar-option {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    color: white;
    font-size: 25px;
    margin: 10px;
}
.navbar-option:hover {
    cursor: pointer;
}
.navbar-option > label:hover {
    cursor: pointer;
}
.navbar-option > span {
    position: relative;
    height: 1em;

    top: 50%;
    transform: translateY(-1em);

    margin-top: 0.05em;

    font-size: 0.8em;
    margin-right: 10px;
}
